#ql-editor-form {
    margin-bottom: 5rem;
}

#quill-id_content .ql-editor {
    min-height: 30rem;
}

#quill-id_content .ql-editor p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#quill-id_content .ql-editor img {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.django-quill-widget-container .ql-toolbar {
    z-index: 20;
    background: white;
    position: sticky;
    top: 4rem;
}

#quill-id_content p {
    font-size: 1.25rem;
}

#quill-id_content h3 {
    font-size: 1.5rem;
}

#quill-id_content h2 {
    font-size: 1.75rem;
}

#quill-id_content h1 {
    font-size: 2;
}

#id_title {
    max-height: 8vh;
}

.div_id_title label {
    padding: 2rem;
}

#editor-title {
    border: 1px solid #ccc;
}

#editor-title p {
    font-size: 2rem;
}