.ql-editor {
    margin-bottom: 5rem;
    --font-size-base: 1.25rem;
    --font-size-h3: calc(var(--font-size-base) * 1.25);
    --font-size-h2: calc(var(--font-size-base) * 1.25);
    --font-size-h1: calc(var(--font-size-base) * 1.25);
    font-size: var(--font-size-base);
}

.ql-editor p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.ql-editor blockquote {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}

.ql-editor h1,
h2,
h3 {
    font-family: Noto Sans;
    padding-top: 0.85rem;
    padding-bottom: 0.85rem;
}

.ql-editor h3 {
    font-weight: bold;
    font-size: var(--font-size-h3) !important;
}

.ql-editor h2 {
    font-weight: bold;
    font-size: var(--font-size-h2) !important;
}

.ql-editor h1 {
    font-weight: bold;
    font-size: var(--font-size-h1) !important;
}

.ql-editor img {
    display: block;
    width: 100%;
}