<div id="following-status">
  <!-- if -->
  {% if user.profile.id != profile.id %}
    <!--  -->
    <button id="btn-unfollow" class="{% if user.profile|check_following:profile %}{% else %}hidden{% endif %} bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-green-500 text-xs text-green-500">Following</button>
    <!--  -->
    <button id="btn-follow" class="{% if user.profile|check_following:profile %}hidden{% endif %} bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-gray-500 text-xs text-gray-500">+ Follow</button>
    <!--  -->
  {% endif %}
  <!-- endif -->
</div>