{% extends 'base/base.html' %}
{% load static %}
{% load conversation %}

{% block head %}
  <style>
    /* Works on Firefox */
    * {
      scrollbar-width: thin;
      scrollbar-color: gray;
    }
    
    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
      width: 12px;
      color: gray;
    }
  </style>

  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const messagesContainer = document.querySelector('[data-messages]')
      messagesContainer.scrollTop = messagesContainer.scrollHeight
    })
  </script>
{% endblock %}

{% block content %}
  <div class="z-0">
    <div class="flex justify-center bg-white min-h-[90vh] max-h-[90vh]">
      <div class="w-9/10 min-h-[90vh] max-h-[90vh] flex">
        <div class="flex w-full pb-5">
          <!-- Sidebar -->
          <div class="w-2/6 p-4 space-x-2 h-full rounded-lg border border-gray-400 mr-3 overflow-auto">
            <h2 class="text-lg font-semibold mb-4">Chats</h2>
            <ul class="space-y-4">
              {% for conv in user.profile.conversations.all %}
                {% with other=conv|get_other_member:user.profile %}
                  <li>
                    <a href="{% url 'chat:to' other.id %}" class="flex items-center space-x-4 hover:bg-gray-200 p-2 rounded-lg">
                      <img src="{{ other.avatar.url }}" alt="User Avatar" class="h-10 w-10 rounded-full" />
                      <div>
                        <p class="font-medium">{{ other }}</p>
                        <p class="text-sm text-gray-500">Last message...</p>
                      </div>
                    </a>
                  </li>
                {% endwith %}
              {% endfor %}
            </ul>
          </div>

          <!-- Chat Window -->
          <div class="w-full flex flex-col ml-3 rounded-lg border border-gray-400 h-full">
            {% if conversation %}
            {{ conversation.id|json_script:"conversation-id" }}
            {% with other=conversation|get_other_member:user.profile %}
                <!-- Conversation Header -->
                <div class="flex items-center h-1/10 p-4 rounded-t-lg bg-gray-200">
                  <div class="flex items-center">
                    <img src="{{ other.avatar.url }}" alt="User Avatar" class="h-10 w-10 rounded-full" />
                    <p class="font-medium">{{ other }}</p>
                  </div>
                </div>
                <!-- Conversation Header -->
                <div class="flex flex-col justify-between h-9/10 p-4">
                  <!-- Messages Content -->
                  <div data-messages class="flex flex-col p-4 space-y-4 overflow-auto max-h-full">
                    {% with messages=conversation.messages.all %}
                      {% for message in messages %}
                        {% if message.sender == user.profile %}
                          <div class="flex items-start space-x-4 justify-end max-w-full">
                            <div class="bg-green-500 text-white p-3 rounded-lg max-w-2/5">
                              <p class="text-sm">{{ message.content }}</p>
                            </div>
                            <img src="{{ message.sender.avatar.url }}" alt="User Avatar" class="h-8 w-8 rounded-full" />
                          </div>
                        {% else %}
                          <div class="flex items-start space-x-4 max-w-2/5">
                            <img src="{{ message.sender.avatar.url }}" alt="User Avatar" class="h-8 w-8 rounded-full" />
                            <div class="bg-gray-400 text-white p-3 rounded-lg">
                              <p class="text-sm">{{ message.content }}</p>
                            </div>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endwith %}
                  </div>
                  <!-- Messages Content -->
                  <!-- Send -->
                  <div class="pt-4 flex items-center justify-center">
                    <div class="w-full">
                      <form class="flex items-center space-x-4">
                        <input type="text" id="input-msg-content" placeholder="Nhập tin nhắn..." class="flex-1 rounded-full border border-gray-400 bg-gray-100 px-4 py-3 focus:outline-none" />
                        <button id="btn-send-msg" class="bg-green-500 text-white px-4 py-2 rounded-full hover:bg-green-600">Gửi</button>
                      </form>
                      {{ user.profile.id|json_script:"sender-id" }}
                      {{ other.id|json_script:"receiver-id" }}
                      <script src="{% static 'chat/js/send_message.js' %}"></script>
                    </div>
                  </div>
                </div>
              {% endwith %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
