{% extends 'base/base.html' %}
{% load static %}
{% load follow_tag %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <!-- Container -->
  <div class="container w-full md:max-w-3xl mx-auto pt-20">
    <div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
      <!-- Title -->
      <div class="font-sans">
        <h1 class="font-bold font-sans break-normal text-gray-900 pt-4 pb-2 text-3xl md:text-4xl">{{ post.title }}</h1>
      </div>

      <!-- Author -->
      <div class="flex w-full items-center font-sans px-4 py-12">
        <a href="{% url 'profile' post.author.id %}"><img class="w-16 h-16 rounded-full mr-4" src="{{ post.author.avatar.url }}" alt="Avatar of Author" /></a>
        <div class="flex-1 px-2">
          <a href="{% url 'profile' post.author.id %}"><p class="font-bold text-base md:text-xl leading-none mb-2">{{ post.author }}</p></a>
          <p class="text-sm md:text-base font-normal text-gray-600">Published {{ post.created_at }}</p>
        </div>
        <div class="justify-end">
          <!--  -->
          <div id="following-status">
            <!-- if -->
            {% if user.profile.id != post.author.id %}
              <!--  -->
              <button id="btn-unfollow"
                class="{% if user.profile|check_following:post.author %}

                {% else %}
                  
                  hidden

                {% endif %} bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-green-500 text-xs text-green-500">
                Following
              </button>
              <!--  -->
              <button id="btn-follow" class="{% if user.profile|check_following:post.author %}hidden{% endif %} bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-gray-500 text-xs text-gray-500">+ Follow</button>
              <!--  -->
            {% endif %}
            <!-- endif -->
          </div>
          <!--  -->
          <script src="{% static 'js/posts/follow.js' %}" data-url="{% url 'follow' post.author.id %}" data-user="{{ user.profile.id }}" data-profile="{{ post.author.id }}" data-token="{{ csrf_token }}"></script>
        </div>
        <!--  -->
      </div>
      <!-- /Author -->

      <!-- Post Content -->
      <div class="py-6">{{ post.content.html|safe }}</div>

      <!-- / Post Content -->
    </div>

    <!-- Tags -->
    <div class="text-base md:text-sm text-gray-500 px-4 py-6">
      Tags: <a href="#" class="text-base md:text-sm text-green-500 no-underline hover:underline">{{ post.category }}</a>
    </div>

    <!-- Related Posts -->
    <div class="text-base md:text-sm text-gray-500 px-4 py-6">
      <h3 class="text-xl font-bold text-gray-900 mb-4">Related Posts</h3>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4"></div>
    </div>
    <!-- /Related Posts -->

    <!-- Divider -->
    <hr class="border-b-2 border-gray-400 mb-8 mx-4" />

    <!-- Comment Section -->
    <div class="container w-full md:max-w-3xl mx-auto pt-8">
      <h2 class="text-2xl font-bold text-gray-900 px-4">Comments</h2>

      <!-- Comment Form -->
      <div class="mt-6 px-4">
        <input type="hidden" name="post_id" value="{{ post.id }}" />
        <input type="hidden" name="user_id" value="{{ user.id }}" />
        <textarea name="comment-content" id="comment-content" class="w-full border border-gray-300 rounded-lg p-4 focus:outline-none focus:border-green-500 bg-white" rows="4" placeholder="Write your comment here..."></textarea>
        <button type="submit" id="btn-submit-comment" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-6 mt-4 rounded-lg">Post Comment</button>
      </div>

      <script id="comment-script" src="{% static 'js/posts/comment.js' %}" data-post_id="{{ post.id }}" data-profile_id="{{ user.profile.id }}" data-url="{% url 'posts:post_comment' post.id %}" data-token="{{ csrf_token }}"></script>
      <!-- Comment List -->
      <div class="mt-10 px-4">
        <!-- Single Comment -->

        <div class="comments-section" id="comments-section">
          {% for comment in post.comments.all %}
            <div class="flex mb-6">
              <img class="w-14 h-14 rounded-full mr-4" src="{{ comment.author.avatar.url }}" alt="Avatar of User" />
              <div class="flex-1">
                <p class="text-green-600 font-normal">{{ post.author }}</p>
                <p class="text-gray-600 text-sm mb-2">Posted on {{ comment.created_at }}</p>
                <p class="text-gray-800">{{ comment.content }}</p>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- /container -->
{% endblock %}
