{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>
      {% block title %}
        Title
      {% endblock %}
    </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    {% comment %} <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  </head>
  <body class="bg-gray-100">
    <!-- Navbar -->
    <nav id="header" class="fixed w-full z-40 top-0">
      <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>

      <div class="w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 pt-1 pb-2">
        <div class="pl-4">
          <a class="text-green-500 no-underline hover:no-underline font-extrabold text-xl" href="{% url 'home' %}">WhoAsk</a>
        </div>

        <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-900 hover:border-green-500 appearance-none focus:outline-none">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <title>Menu</title>
              <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
            </svg>
          </button>
        </div>

        <div class="w-full flex-grow lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 bg-gray-100 md:bg-transparent z-20" id="nav-content">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
            <li>
              <li class="mr-3">
                <button class="text-gray-600 hover:text-gray-900">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
                    <path d="M10 2a6 6 0 00-6 6v4H3a1 1 0 000 2h14a1 1 0 000-2h-1V8a6 6 0 00-6-6zm-1 16a2 2 0 004 0H9z" />
                  </svg>
                </button>
              </li>
              {% if user.is_authenticated %}
                <a href="{% url 'profile' user.profile.id %}"><img class="h-12 w-12 rounded-full" src="{{ user.profile.avatar.url|default:'/static/default-avatar.png' }}" alt="User Avatar" /></a>
              {% else %}
                <a class="button flex items-center justify-center rounded-full bg-green-500 text-white font-semibold px-4 py-2.5 text-body-xs" href="/users/login">ĐĂNG NHẬP</a>
              {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="mt-20 z-0">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
