{% load static %}
{% load list_tags %}
{% load text_tags %}
{% load follow_tags %}

<meta name="csrf-token" content="{{ csrf_token }}" />

<aside class="hidden xl:block ml-4 w-1/4">
  <div class="flex flex-col px-4 bg-white sticky top-16 rounded-lg border border-gray-200">
    <div class="px-2 side-bar-content">
      <h3 class="text-lg font-bold text-gray-800 py-4">Chủ đề thịnh hành</h3>
      <div class="py-2 flex flex-wrap gap-4 mb-4">
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Công nghệ</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Chính trị</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Lập trình</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Quan điểm</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Viết lách</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Góc nhìn</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Sách</span>
        {% comment %} <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Khởi nghiệp</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Phát triển bản thân</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Trí tuệ nhân tạo</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Tâm lý học</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Xã hội</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Phim ảnh</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Giáo dục</span>
        <span class="bg-gray-100 text-gray-700 px-3 py-3 rounded-full text-sm">Kỹ năng mềm</span> {% endcomment %}

        <a href="" class="px-3 text-gray-500 hover:underline cursor-pointer">See more</a>
      </div>
    </div>
    <!--  -->
    <div class="px-2 side-bar-content">
      <h3 class="text-lg font-bold text-gray-800 py-4">Người dùng nổi bật</h3>
      <div class="py-1">
        {% for profile in profiles|head3 %}
          <div class="flex w-full items-center justify-center font-sans py-3 min-h-20">
            <div class="w-12 min-h-20 flex-shrink-0 flex flex-col justify-start items-start">
              <a href="{% url 'profile' profile.id %}" class="w-12 h-12"><img class="w-16 rounded-full" src="{{ profile.avatar.url }}" alt="Avatar of Author" /></a>
            </div>
            <div class="w-1/2 min-h-20 px-2 flex-shrink-0">
              <a href="{% url 'profile' profile.id %}"><p class="text-base leading-none text-gray-800">{{ profile }}</p></a>
              <span class="text-gray-500 text-xs">{{ profile.bio|truncate_text }}</span>
            </div>
            <div id="following-status" class="min-h-20 flex-shrink-0">
              <!-- if -->
              {% if user.is_authenticated and user.profile.id != post.author.id %}
                <!--  -->
                <button data-url="{% url 'follow' profile.id %}" data-user="{{ user.profile.id }}" data-profile="{{ profile.id }}" class="{% if user.profile|is_not_following:profile %}hidden{% endif %} w-30 bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-green-500 text-xs text-green-500 btn-unfollow">Đang theo dõi</button>
                <!--  -->
                <button data-url="{% url 'follow' profile.id %}" data-user="{{ user.profile.id }}" data-profile="{{ profile.id }}" class="{% if user.profile|is_following:profile %}hidden{% endif %} w-30 bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-gray-500 text-xs text-gray-500 btn-follow">+ Theo dõi</button>
                <!--  -->
              {% else %}
                <a href="{% url 'login' %}" id="btn-follow-login" class="w-30 bg-transparent border font-bold py-2 px-4 mt-4 rounded-full border-gray-500 text-xs text-gray-500">+ Follow</a>
              {% endif %}
              <!-- endif -->
            </div>

            <script src="{% static 'js/follow_many.js' %}"></script>
          </div>
          <!--  -->
        {% endfor %}
      </div>
    </div>
    <!--  -->
  </div>
</aside>
