{% extends 'base/base.html' %}
{% load static %}
{% load to_date %}
{% load follow_tag %}
{% load list_tags %}
{% block title %}
  Home
{% endblock %}
{% block content %}
  {% if user.is_authenticated %}
    <div class="flex items-center justify-center bg-white">
      <div class="w-full max-w-6xl">
        <div class="text-center mb-12">
          <h1 class="text-5xl font-extrabold text-gray-800 mb-6">Welcome Back, {{ user.username }}!</h1>
          <p class="text-xl text-gray-600">Manage your activities, explore categories, and engage with the community!</p>
          <div class="flex justify-center space-x-4 mt-8">
            <a href="/profile/" class="bg-green-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-green-600">View Profile</a>
            <form action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button type="submit" class="bg-red-500 text-white font-bold py-3 px-6 rounded-lg hover:bg-red-600">Logout</button>
            </form>
          </div>
        </div>

        <!-- Latest Posts Section -->
        <div class="bg-white p-6 mt-8">
          <h2 class="text-2xl font-bold mb-4">Latest Posts</h2>

          <!-- Post List -->
          <div class="container mx-auto flex mt-6">
            <!-- Left (Main articles) -->
            <div class="w-4/6 p-4">
              {% for post in posts %}
                <div class="flex items-center border-b border-gray-400 p-8">
                  <div class="flex-shrink-0">
                    <a href="/posts/{{ post.id }}"><img src="{% static 'img/defaultthumbnail.jpg' %}" alt="Thumbnail" class="w-48 h-36 object-cover rounded-lg cursor-pointer" /></a>
                  </div>
                  <div class="ml-4 flex flex-col justify-between flex-1 h-36">
                    <div>
                      <a href="/posts/{{ post.id }}"><h3 class="text-lg font-semibold mb-1 cursor-pointer">{{ post.title }}</h3></a>
                      <p class="mt-1 text-gray-700 text-sm">{{ post.description|safe }}</p>
                    </div>
                    <div class="post-info mt-auto">
                      <p class="text-sm text-gray-600 flex items-center space-x-2">
                        <a href="{% url 'profile' post.author.id %}" class="flex items-center space-x-2">
                          <img src="{{ post.author.avatar.url }}" alt="" class="h-12 w-12 rounded-full" />
                          <span class="font-medium hover:underline cursor-pointer">{{ post.author }}</span>
                        </a>
                        <span>{{ post.created_at|to_date }}</span>
                        <span class="text-green-500 text-sm">🔼 {{ post.upvotes }}</span>
                        <span class="text-gray-500 text-sm">💬 {{ post.comments.count }}</span>
                      </p>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>

            <!-- Right Sidebar -->
            <aside class="w-2/5 p-4">
              <div class="bg-white rounded-lg shadow p-4">
                <h3 class="text-lg font-bold">Top users</h3>
                <ul class="mt-2">
                  <li class="py-2">
                    {% for profile in profiles|head %}
                      <div class="flex w-full items-center font-sans h-28">
                        <a href="{% url 'profile' profile.id %}"><img class="w-16 h-16 rounded-full mr-4" src="{{ profile.avatar.url }}" alt="Avatar of Author" /></a>
                        <div class="flex-1 px-2">
                          <a href="{% url 'profile' profile.id %}"><p class="text-base leading-none">{{ profile }}</p></a>
                          <span class="text-gray-500 text-xs">{{ profile.bio }}</span>
                        </div>
                        <div id="following-status">
                          {% if user.profile.id != profile.id %}
                            <button id="btn-unfollow"
                              class="{% if user.profile|check_following:profile %}{% else %}hidden{% endif %} bg-transparent border font-bold py-2 px-4 rounded-full border-green-500 text-xs text-green-500">
                              Following
                            </button>
                            <button id="btn-follow" class="{% if user.profile|check_following:profile %}hidden{% endif %} bg-transparent border font-bold py-2 px-4 rounded-full border-gray-500 text-xs text-gray-500">+ Follow</button>
                          {% endif %}
                        </div>

                        <script src="{% static 'js/posts/follow.js' %}" data-url="{% url 'follow' profile.id %}" data-user="{{ user.profile.id }}" data-profile="{{ post.author.id }}" data-token="{{ csrf_token }}"></script>
                      </div>
                      <!--  -->
                    {% endfor %}
                  </li>
                </ul>
              </div>

              <div class="bg-white p-4 rounded-lg shadow mt-4">
                <h3 class="text-lg font-bold">Writing on WhoAsk</h3>
                <button class="bg-green-500 text-white w-full py-2 mt-2 rounded-md">Start Writing</button>
              </div>
            </aside>
          </div>
          <!-- Pagination -->
          <div class="flex justify-center mt-8">
            <nav class="inline-flex space-x-2">
              <a href="#" class="px-4 py-2 text-sm font-medium text-gray-600 bg-white border rounded hover:bg-gray-100">Previous</a>
              <a href="#" class="px-4 py-2 text-sm font-medium text-white bg-green-500 border rounded hover:bg-green-600">1</a>
              <a href="#" class="px-4 py-2 text-sm font-medium text-gray-600 bg-white border rounded hover:bg-gray-100">2</a>
              <a href="#" class="px-4 py-2 text-sm font-medium text-gray-600 bg-white border rounded hover:bg-gray-100">3</a>
              <span class="px-4 py-2 text-sm font-medium text-gray-500">...</span>
              <a href="#" class="px-4 py-2 text-sm font-medium text-gray-600 bg-white border rounded hover:bg-gray-100">10</a>
              <a href="#" class="px-4 py-2 text-sm font-medium text-gray-600 bg-white border rounded hover:bg-gray-100">Next</a>
            </nav>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="flex items-center justify-center min-h-screen bg-gray-100">
      <div class="text-center">
        <h1 class="text-4xl font-bold text-gray-800 mb-6">Welcome to Our Community</h1>
        <p class="text-lg text-gray-600 mb-8">Your one-stop solution for all your needs. Join us to explore more!</p>
        <div class="flex justify-center space-x-4">
          <a href="/users/login/" class="bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600">Login</a>
          <a href="/users/signup/" class="bg-blue-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-blue-600">Register</a>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
