{% load compress %}
{% load static %}
<!DOCTYPE html>
<html lang="en" data-theme="light" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <title>
      {% block title %}
        Title
      {% endblock %}
    </title>

    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    {% block head %}

    {% endblock %}
  </head>
  <body class="bg-white min-h-screen font-sans">
    <!-- Navbar -->
    {% block navbar %}
      {% include 'partials/navbar.html' with user=user %}
    {% endblock %}

    <div id="id_content" class="m-auto z-0 min-h-[90vh]">
      {% block content %}

      {% endblock %}
    </div>

    <!-- Footer -->
    {% block footer %}
      {% comment %} {% include 'partials/footer.html' %} {% endcomment %}
    {% endblock %}

    <script src="{% static 'layout/js/header.js' %}"></script>

    {% block script %}

    {% endblock %}
  </body>
</html>
