{% extends 'base/base.html' %}
{% load static %}
{% load add_attrs %}
{% load crispy_forms_tags %}

{% load tailwind_filters %}

{% block head %}
  <title>{{ post.title }}</title>
  {{ form.media }}
  <link rel="stylesheet" href="{% static 'posts/css/create_post.css' %}" />
  <link rel="stylesheet" href="{% static 'posts/css/quill.bubble.css' %}" />
{% endblock %}

{% block content %}
  <div class="container w-full mx-auto pt-5 text-gray-800 pt flex justify-center">
    <form id="ql-editor-form" method="POST" class="bg-white w-full">
      {% csrf_token %}
      <!--  -->
      <div>
        <label for="id_title" class="block text-gray-700 text-sm font-bold mb-4 pt-5 pd-5">Title</label>
        <div id="editor-title"></div>
      </div>
      <!--  -->
      {% comment %} <div>
        <label for="id_category" class="block text-gray-700 text-sm font-bold mb-4 pt-5 pd-5">Category</label>
        {{ form.category|add_class:'border-gray-300 bg-white w-full text-gray-700 rounded-lg border focus:outline-none px-4' }}
      </div> {% endcomment %}
      <!--  -->
      <div>
        <label for="id_content" class="block text-gray-700 text-sm font-bold mb-4 pt-5 pd-5">Content</label>
        {{ form.content }}
      </div>
    </form>
  </div>
{% endblock %}

{% block script %}
  <script src="{% static 'js/quill.js' %}"></script>
  <script src="{% static 'posts/js/custom_quill.js' %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}