{% load static %}
<link href="{% static 'css/quill.snow.css' %}" media="all" rel="stylesheet" />
{% comment %} <link href="{% static 'css/quill.bubble.css' %}" media="all" rel="stylesheet" /> {% endcomment %}
{% comment %} <link href="{% static 'css/darcula.min.css' %}" media="all" rel="stylesheet" /> {% endcomment %}
<link href="{% static 'css/resize.min.css' %}" media="all" rel="stylesheet" />
<link href="{% static 'django_quill/django_quill.css' %}" media="all" rel="stylesheet" />



<script src="{% static 'js/highlight.min.js' %}"></script>
<script src="{% static 'js/quill.min.js' %}"></script>
<script src="{% static 'js/quill.imageCompressor.min.js' %}"></script>
<script src="{% static 'js/quill-resize-module.min.js' %}"></script>
<script src="{% static 'django_quill/django_quill.js' %}"></script>