html {
    overflow: scroll;
    /* hoặc overflow: scroll */
    scrollbar-gutter: stable;
    scrollbar-width: thin;
    scrollbar-color: gray;
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}