/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: gray;
    scrollbar-gutter: stable overlay;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    color: #4dc0b5;
}