{% extends 'base/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load add_attrs %}

{% block head %}
  <link rel="stylesheet" href="{% static 'users/css/styles.css' %}" />
{% endblock %}

{% block title %}
  Trang cá nhân của {{ profile }}
{% endblock %}

{% block content %}
  <div class="flex justify-center mb-8">
    <div class="w-full max-w-5xl">
      <div class="bg-white p-6 rounded-lg shadow-md">
        <!--  -->
        <div class="flex flex-col items-center mb-8">
          <div>
            <img id="avatar_preview" src="{{ profile.avatar.url }}" alt="Avatar" class="w-36 h-36 rounded-full border-1 border-gray-100" />
          </div>
          <!--  -->
          <form action="{% url 'users:update' %}" method="POST" enctype="multipart/form-data" class="flex flex-col justify-center">
            {% csrf_token %}

            <div class="div_id_avatar">
              <label for="id_avatar" class="block text-gray-700 text-sm font-bold mb-2">Ảnh đại diện</label>
              <input type="file" name="avatar" accept="image/*" class="border-gray-300 bg-white text-gray-700 rounded-lg border focus:outline-none px-4" id="id_avatar" />
            </div>
            <!--  -->
            <div class="div_id_display_name">
              <label for="id_display_name" class="block text-gray-700 text-sm font-bold mb-2">Tên hiển thị</label>
              {{ form.display_name|add_class:'textinput border-gray-300 focus:outline-none border block py-2 px-4 appearance-none leading-normal text-gray-700 rounded-lg w-full bg-white' }}
            </div>
            <!--  -->
            <div class="div_id_bio">
              <label for="id_bio" class="block text-gray-700 text-sm font-bold mb-2">Mô tả</label>
              {{ form.bio|add_class:'textarea border-gray-300 focus:outline-none border block py-2 px-4 appearance-none leading-normal text-gray-700 rounded-lg w-full bg-white' }}
            </div>
            <!--  -->
            <div class="flex justify-center">
              <button type="submit" class="mt-8 w-36 cursor-pointer bg-green-500 text-white font-bold py-2 px-4 rounded-lg hover:bg-green-600">Lưu thay đổi</button>
            </div>
          </form>
          <script>
            const inputAvatar = document.getElementById('id_avatar')
            const avatarPreview = document.getElementById('avatar_preview')
            
            inputAvatar.addEventListener('change', function (event) {
              const file = event.target.files[0]
              if (file) {
                avatarPreview.src = URL.createObjectURL(file)
              }
            })
          </script>
          <script>
            const input = document.getElementById('file-input')
            const image = document.getElementById('img-preview')
            
            input.addEventListener('change', (e) => {
              if (e.target.files.length) {
                const src = URL.createObjectURL(e.target.files[0])
                image.src = src
              }
            })
          </script>

          <!--  -->
        </div>
        <!--  -->
      </div>
    </div>
  </div>
{% endblock %}

{% block footer %}

{% endblock %}
